* {
    box-sizing: border-box;
}

body {
    font-family: 'Roboto', sans-serif;
}


/* nav section */


.navbar {
    background-color: darkblue;
}

.navbar-brand {
    font-family: 'Bebas Neue', sans-serif;
    font-weight: bold;
    font-size: 2rem;
    letter-spacing: 2px;
    color: lightseagreen;
}

.navbar-brand:hover {
    color: lightseagreen;
}

#addMovie {
    background-color: lightseagreen;
    color: white;
    font-size: .80rem;
}


/* heading section */

.ssticky {
    position: sticky;
    top: 64px; /* Adjust this value based on your needs */
    z-index: 1020; /* Higher than other elements, but below fixed elements like navbars */
}

#heading-div {
    position: relative;
}

#heading-div h3 {
    font-family: 'Playfair Display', serif;
    font-weight: bold;
    font-size: 2rem;
}

#background-image {
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-image: url("../media/heading-1.png");
    background-size: cover;
    background-position: center;
    opacity: 0.35;
    z-index: -1;
}

#title {
    color: darkblue;
    position: relative;
    z-index: 1;
}

#searchButton {
    background-color: lightseagreen;
    color: white;
}

.spinner-border {
    display: inline-flex;
}

.hidden {
    opacity: 0;
    visibility: hidden;
    transition: opacity 0.5s, visibility 0.5s;
}


/* poster section */


#poster-div {
    background-color: rgb(235, 245, 250);
}

.card {
    width: 13rem;
    margin: 0.5rem;
    border-color: darkblue;
    border-width: 1px;
}

#image-container {
    position: relative;
    display: inline-block;
}

#image-container img {
    height: 250px;
    object-fit: cover;
}

.bi-info-circle {
    position: absolute;
    top: -5px;
    left: 11rem;
    color: lightblue;
    font-size: 1.75rem;
}

.bi-info-circle:hover {
    cursor: pointer;
}

#modalInfoTitle {
    font-family: 'Bebas Neue', sans-serif;
    color: lightseagreen;
    letter-spacing: 1px;
    font-size: 1.75rem;
}

#modalInfoText {
    font-family: 'Playfair Display', serif;
    color: darkblue;
    font-size: 1.1rem;
}

#btnEdit {
    color: green;
    font-size: 1.1rem;
}

#btnDelete{
    color: red;
    font-size: 1.1rem;
}

.bi-star-fill {
    color: lightgray;
}

.goldStar {
    color: gold;
}


/* modal section */


#modalSaveChanges {
    background-color: lightseagreen;
}

#modalMovieRating {
    font-size: 1.5rem;
}
